<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="{% static 'assests/bootstrap-4.6.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'assests/jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assests/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Login</h2>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post" class="">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" id="username" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" placeholder="Username" value="{{ form.username.value|default:'' }}">
                                {% if form.username.errors %}
                                    {% for error in form.username.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" id="password" name="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="Password">
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                        <p class="text-center mt-3">Don't have an account? <a href="{% url 'signup_account' %}">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
