{% extends 'adminpanel/layouts/default.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 box-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add User</h4>
                    <form class="cmxform" id="commentForm" method="post" action="{% url 'createusers' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="first_name">First Name <span class="text-danger">*</span></label>
                                    <input id="first_name" class="form-control" name="first_name" type="text" placeholder="Type First Name.." value="{{ form.first_name.value|default:'' }}">
                                    {% if form.first_name.errors %}
                                    <label id="first_name-error" class="error mt-2 text-danger" for="first_name">{{ form.first_name.errors }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="last_name">Last Name <span class="text-danger">*</span></label>
                                    <input id="last_name" class="form-control" name="last_name" type="text" placeholder="Type Last Name.." value="{{ form.last_name.value|default:'' }}">
                                    {% if form.last_name.errors %}
                                    <label id="last_name-error" class="error mt-2 text-danger" for="last_name">{{ form.last_name.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="email">E-Mail <span class="text-danger">*</span></label>
                                    <input id="email" class="form-control" name="email" type="email" placeholder="Type Email.." value="{{ form.email.value|default:'' }}">
                                    {% if form.email.errors %}
                                    <label id="email-error" class="error mt-2 text-danger" for="email">{{ form.email.errors }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="phone_no">Phone No <span class="text-danger">*</span></label>
                                    <input id="phone_no" class="form-control" name="phone_no" type="text" placeholder="Type Phone No.." value="{{ form.phone_no.value|default:'' }}">
                                    {% if form.phone_no.errors %}
                                    <label id="phone_no-error" class="error mt-2 text-danger" for="phone_no">{{ form.phone_no.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="address_line_1">Address Line 1 <span class="text-danger">*</span></label>
                                    <input id="address_line_1" class="form-control" name="address_line_1" type="text" placeholder="Type Address Line 1.." value="{{ form.address_line_1.value|default:'' }}">
                                    {% if form.first_name.errors %}
                                    <label id="address_line_1-error" class="error mt-2 text-danger" for="address_line_1">{{ form.address_line_1.errors }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="address_line_2">Address Line 2 <span class="text-danger">*</span></label>
                                    <input id="address_line_2" class="form-control" name="address_line_2" type="text" placeholder="Type Address Line 2.." value="{{ form.address_line_2.value|default:'' }}">
                                    {% if form.address_line_1.errors %}
                                    <label id="address_line_2-error" class="error mt-2 text-danger" for="address_line_2">{{ form.address_line_2.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="country" class="col-form-label">Country <span class="text-danger">*</span></label>
                                    <select id="country" name="country" class="form-control">
                                        <option value="">Choose Country</option>
                                        <option value="India" {% if form.country.value == "India" %}selected{% endif %}>India</option>
                                        <option value="USA" {% if form.country.value == "USA" %}selected{% endif %}>USA</option>
                                        <option value="UK" {% if form.country.value == "UK" %}selected{% endif %}>UK</option>
                                    </select>
                                    {% if form.country.errors %}
                                    <label id="country-error" class="error mt-2 text-danger" for="country">{{ form.country.errors }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="state" class="col-form-label">State <span class="text-danger">*</span></label>
                                    <select id="state" name="state" class="form-control">
                                        <option value="">Choose State</option>
                                        <option value="Ahmedabad" {% if form.state.value == "Ahmedabad" %}selected{% endif %}>Ahmedabad</option>
                                        <option value="Washington" {% if form.state.value == "Washington" %}selected{% endif %}>Washington</option>
                                        <option value="Surat" {% if form.state.value == "Surat" %}selected{% endif %}>Surat</option>
                                    </select>
                                    {% if form.state.errors %}
                                    <label id="state-error" class="error mt-2 text-danger" for="state">{{ form.state.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="city">City <span class="text-danger">*</span></label>
                                    <input id="city" class="form-control" name="city" type="text" placeholder="Type City.." value="{{ form.city.value|default:'' }}">
                                    {% if form.city.errors %}
                                    <label id="city-error" class="error mt-2 text-danger" for="city">{{ form.city.errors }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="zipcode">Zipcode <span class="text-danger">*</span></label>
                                    <input id="zipcode" class="form-control" name="zipcode" type="text" placeholder="Type Zipcode.." value="{{ form.zipcode.value|default:'' }}">
                                    {% if form.zipcode.errors %}
                                    <label id="photo-error" class="error mt-2 text-danger" for="zipcode">{{ form.zipcode.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="photo">Profile Photo <span class="text-danger">*</span></label>
                                    <input id="photo" class="form-control" name="photo" type="file" class="custom-input-file">
                                    {% if form.photo.errors %}
                                    <label id="photo-error" class="error mt-2 text-danger" for="photo">{{ form.photo.errors }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="role">Role <span class="text-danger">*</span></label>
                                    <input id="role" class="form-control" name="role" value="{{ form.role.value|default:'user' }}" type="text" placeholder="Type Role.." readonly>
                                    {% if form.role.errors %}
                                    <label id="role-error" class="error mt-2 text-danger" for="role">{{ form.role.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- / .row -->
</div>
{% endblock %}