{% extends 'layouts/default.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 box-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2">All Users</h4>
                    <p class="text-muted font-14 mb-4">
                        This page displays information about all users in the system. You can find details about each user in the table below.
                    </p>
                    {% if messages %}
                    <div class="alert alert-success" role="alert">
                        {% for message in messages %}
                        <strong>Well done!</strong> {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <table id="datatable-users" class="table table-striped dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Fullname</th>
                                <th>Adddress</th>
                                <th>role</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>
                                    {% if user.profile.photo %}
                                    <img class="chat-img mr-2 border-radius-50" src="{{ MEDIA_URL }}{{ user.profile.photo.url }}" alt="">
                                    {% else %}
                                        <img class="chat-img mr-2 border-radius-50" src="{% static 'admin/img/member-img/1.png' %}" alt="">
                                    {% endif %}
                                </td>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.profile.address_line_1 }}, {{ user.profile.address_line_2 }}, {{ user.profile.country }}, {{ user.profile.state }}, {{ user.profile.city }} {{ user.profile.zipcode }}</td>
                                <td>{{ user.profile.role }}</td>
                                <td>
                                    <a href="{% url 'editusers' user.id %}" class="btn btn-primary btn-sm">Edit</a>
                                    <form method="post" action="{% url 'deleteuser' user.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                                <!-- Add more columns as needed -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- / .row -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datatable-users').DataTable({
            lengthChange: false,
            buttons: ["copy", "print"],
            language: {
                paginate: {
                    previous: "<i class='arrow_carrot-left'></i>",
                    next: "<i class='arrow_carrot-right'></i>"
                }
            },
            drawCallback: function() {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
            },
            columnDefs: [{
                targets: 0,
                orderable: false,
            }]
        });
    });
    $(document).ready(function(){
        setTimeout(function(){
            $('.alert').fadeOut('slow');
        }, 1000); // 10 seconds
    });
</script>
{% endblock %}