<!doctype html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->
    <title>Xvito - Responsive Bootstrap Admin Template</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'admin/img/core-img/favicon.png' %}">
    <!-- Master Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
</head>
<body class="login-area">
    <!-- Preloader -->
    <div id="preloader-area">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader -->
    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="main-content- h-100vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="hero">
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                </div>
                <div class="col-sm-10 col-md-8 col-lg-5">
                    <!-- Middle Box -->
                    <div class="middle-box">
                        <div class="card">
                            <div class="card-body p-4">
                                <!-- Logo -->
                                <h4 class="font-24 mb-30">Login.</h4>
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control login" type="text" id="email" name="username" placeholder="Enter your email">
                                        {% if form.errors.username %}
                                            <label class="error mt-2 text-danger" for="email">{{ form.errors.username|striptags }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <a href="forget-password.html" class="text-dark float-right"></a>
                                        <input class="form-control login" type="password" id="password" name="password" placeholder="Enter your password">
                                        {% if form.errors.password %}
                                            <label class="error mt-2 text-danger" for="username">{{ form.errors.password|striptags }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                        <span><a class="font-12 text-success" href="{% url 'forget-password' %}">Forgot your password?</a></span>
                                    </div>
                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                                    </div>
                                </form>
                                <!-- end card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->
    <!-- Plugins Js -->
    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/bundle.js' %}"></script>
    <!-- Active JS -->
    <script src="{% static 'admin/js/default-assets/active.js' %}"></script>
</body>
</html>