<!doctype html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->
    <title>Xvito - Responsive Bootstrap Admin Template</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'admin/img/core-img/favicon.png' %}">
    <!-- Plugins css -->
    <link rel="stylesheet" href="{% static 'admin/css/default-assets/mini-event-calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
    <!-- Master Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
    <!-- Plugins Js -->
    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/bundle.js' %}"></script>
    <script src="{% static 'admin/js/default-assets/fullscreen.js' %}"></script>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader-area">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader -->

    <!-- ======================================
    ******* Main Page Wrapper **********
    ======================================= -->

    <div class="main-container-wrapper">
          {% include 'adminpanel/layouts/header.html' %}
          <div class="container-fluid page-body-wrapper">
                    {% include 'adminpanel/layouts/sidebar.html' %}
                    <div class="main-panel">
                              <div class="content-wrapper">
                                        {% block content %}
                                        {% endblock %}
                                        {% include 'adminpanel/layouts/footer.html' %}
                              </div>
                    </div>

          </div>
    </div>

    <!-- Active JS -->
    <script src="{% static 'admin/js/canvas.js' %}"></script>
    <script src="{% static 'admin/js/collapse.js' %}"></script>
    <script src="{% static 'admin/js/settings.js' %}"></script>
    <script src="{% static 'admin/js/template.js' %}"></script>
    <script src="{% static 'admin/js/scrool-bar.js' %}"></script>
    <script src="{% static 'admin/js/default-assets/active.js' %}"></script>

    <!-- Inject JS -->
    <script src="{% static 'admin/js/default-assets/mini-event-calendar.min.js' %}"></script>
    <script src="{% static 'admin/js/default-assets/mini-calendar-active.js' %}"></script>
    <script src="{% static 'admin/js/default-assets/apexchart.min.js' %}"></script>
    <script src="{% static 'admin/js/default-assets/dashboard-active.js' %}"></script>
</body>
</html>
